BODY {
	font: 8pt Verdana, MS Sans Serif, Arial;
	color:#000000;
}

A {
	font: 8pt Verdana, MS Sans Serif, Arial;
	color:#009900;
	text-decoration: underline;
}

A:visited {
	font: 8pt Verdana, MS Sans Serif, Arial;
	color:#000000;
	text-decoration: underline;
}

A:active {
	font: 8pt Verdana, MS Sans Serif, Arial;
	color:#000000;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}